body {
        margin: 0;
        font-family: 'Tomorrow', Courier, monospace;
        height: 100vh; 
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('adrian-infernus-GLf7bAwCdYg-unsplash.jpg'); 
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat;
        background-attachment: fixed; 
    }
    


.game-container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin-bottom: 20px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 2px solid #ddd;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cell:hover {
    background-color: #f1f1f1;
}

.status-message {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.reset-button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.reset-button:hover {
    background-color: #0056b3;
}
